#page-auth {
    display: flex;
    align-items: stretch;
    height: 100vh;
  
    .main-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 320px;
      align-items: stretch;
      text-align: center;
  
      
      h1 {
        color: #f43;
        font-size: 24px;
        margin: 64px 0 24px;
        font-family: 'Poppins', sans-serif;
      }
    }
}